<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="row">
                <div class="col-12 my-5">
                    <h3 class="text-center">Personas</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table mdbTable>
                        <thead>
                          <tr>
                            <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr mdbTableCol *ngFor="let el of personasService.personas; let i = index">
                            <th scope="row" (click)="personasService.editPersona(i)">
                                <a href="#" (click)="$event.preventDefault()">{{el.name}}</a>
                            </th>
                            <td>{{el.age}}</td>
                            <td>{{ (el.gender === 'M') ? 'Hombre' : 'Mujer' }}</td>
                            <td>
                                <div *ngIf="el.document" (click)="personasService.editPersona(i)">
                                    <a href="#" (click)="$event.preventDefault()">Ver Documento</a>
                                </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5 pt-3" *ngIf="globalService.formEdit">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="row">
                <div class="col-8">
                    <div class="md-form">
                        <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="personasService.currentPersona.name">
                        <label for="form1" class="">Nombre</label>
                    </div>
                    <!-- <button type="button" size="sm" mdbBtn color="primary" mdbWavesEffect>Documento</button>
                    <br> -->

                    <div mdbBtn color="primary" size="sm" class="waves-light" mdbWavesEffect>
                      Documento
                      <input type="file" accept="image/*" id="documentPersona" (change)="personasService.uploadDocumentPersona($event.target.files)">
                    </div>
                    <br>
                    <div *ngIf="personasService.currentPersona.document" class="ml-3 my-5">
                        <img [src]="personasService.currentPersona.document" alt="Documento" width="50%" >
                        <button type="button" size="sm" mdbBtn color="light" mdbWavesEffect
                        (click)="documentModal.show()">
                            Borrar documento
                        </button>
                    </div>
                    <button type="button" size="sm" mdbBtn color="primary" mdbWavesEffect
                    (click)="saveEditPersona()">
                        Guardar
                    </button>
                    <button type="button" size="sm" mdbBtn color="light" mdbWavesEffect
                    (click)="cancel()">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div mdbModal #documentModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mydocumentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="documentModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Borrar archivo</h4>
      </div>
      <div class="modal-body">
          ¿Borrar el documento? No se podrá recuperar.
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="light" class="waves-light" aria-label="Close" (click)="documentModal.hide()" mdbWavesEffect>Cancelar</button>
        <button type="button" mdbBtn color="danger" class="relative waves-light" (click)="personasService.deleteDocumentPersona(); documentModal.hide()" mdbWavesEffect>Borrar</button>
      </div>
    </div>
  </div>
</div>