/* You can add global styles to this file, and also import other style files */

$fontMedium: 500;
$borderColor: #f5f6f6;

body {
    background: #fafbfd;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: $fontMedium;
}

a {
    font-weight: $fontMedium;
    color: inherit;
}




//                                   TABLE
table {
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    thead th {
        font-weight: $fontMedium;
    }
    tbody {
        th, td {
            border-color: $borderColor !important;
        }
        tr:nth-child(even) {
            background: #f2f9ff;
        }
        tr:nth-child(odd) {
            background: #fff;
        }
    }
}